go 1.25.7

use (
	.
	./cli
	./proto/aesgcm
	./proto/dnst
	./proto/ssh
	./proto/socksaddr
	./proto/prepend
	./proto/trojan
	./proto/ss2022
	./drivers/aesgcm
	./drivers/trojan
	./drivers/ss2022
	./drivers/dnst
	./drivers/dtls
	./drivers/dtlspsk
	./drivers/ssh
	./drivers/tls
	./drivers/tlspsk
	./drivers/utls
)
